.row_data_single_desc {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-top: 1.5rem;
    align-items: flex-start;
    padding-left: 2rem;;
    justify-content: center;
}

.row_data_item hr{
    width: 100%;
}

.row_data_item{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.row_data_single {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
  }
  
  .row_data_single img{
      margin-top: 2rem;
      margin-left: 3.125rem;
      min-width: 11.25rem;
      min-height: 11.25rem;
      max-width: 11.25rem;
      max-height: 11.25rem;
  }

  .row_data_single_desc:hover{
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .row_data_single_desc h2,h3{
        font-size: 0.8rem;
    }

    .row_data_single {
        display: flex;
        padding: 0px;
      }

      .row_data_single img{
        margin-right: 50px;
        margin-top: 18px;
        max-width: 20vw;
        max-height: 15vw;
    }
  }