.patient{
    margin: 50px 50px 50px 0px;
}

.patient-signup{
    
    display: flex;
    flex: 1;
    margin-top: 80px;
}

.input_elements{
    display: flex;
    flex: 1;
    border: 2px solid black;
}