.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.form-left{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.form-left > .signup{
    margin: 40px;
}

.signup .input_elements{
    border-radius: 2px;
    width: 100%;
    height: 100%;
}

.form-right{
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-top: 40px;
}

.signup-button{
    display: flex;
    justify-content: center;
}

.center{
    display:flex;
    justify-content: center;
    margin-top: 2.5rem;
}
.form-right > .doctor-signup{
    margin-left: 40px;
}

.state{
    margin-bottom: 50px;
}

.doctor-signup-dropdown{
    margin-top: 55px;
    margin-left: 40px;
}

@media only screen and (max-width: 768px){
    .form{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: flex-start;
    }

    .form-right{
        display: flex;
        flex: 2;
        flex-direction: column;
        margin-top: 0px;
    }

    .signup-button{
        margin-top: 40px;
    }
}