.datetimepicker {
  margin-right: 500px;
}

.confirm {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm_form {
  margin: 20px;
}

.card p{
  font-size: large;
  font-family: cursive;
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 800px;
  background-color: #edf1f7;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #e6e9ed;
}
.slot_time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.slot_time_button {
  margin: 1rem;
  display: flex;
  border-radius: 6px;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  font-family: Arial;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #ffffff;
}


.slot_time_button:hover {
  background: #3cb0fd;
  cursor: pointer;
}

.slot_time_active {
  margin: 1rem;
  display: flex;
  border-radius: 6px;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  font-family: Arial;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: darkblue;
}
