.datetimepicker{
    margin-right: 500px;
}

.confirm{
    border: 2px solid black;
    display: flex;
    margin-left: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-top: 100px;
}

.confirm_form{
    margin: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.slot_time{
    margin-bottom: 30px;
}