.row{
    margin-top: 80px;
}

.row {
    margin-left: 6.25rem;
    display: flex;
    flex-direction: column;
  }
  
  .row_data {
    display: flex;
    flex-wrap: wrap;
  }

  .filter_geolocation{
    display: flex;
    justify-content: flex-end;
    max-height: 40px;
    align-items: baseline;
  }
  .filter_geolocation .type{
    margin: 10px;
    font-family: cursive;
    font-weight: 400;
  }

  .filter_geolocation .type p{
    display: flex;
  }
  @media only screen and (max-width: 768px) {
    .row {
      margin-left: 2.5rem;
      margin-top: 5rem;
      display: flex;
    }

    .filter_geolocation{
      display: flex;
      justify-content: flex-start;
      max-height: 40px;
      align-items: baseline;
    }
  }